
.basketitem {
    display: flex; 
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    padding: 20px 0;
    justify-content: space-between;
    & + & {
       border-top: 1px solid lightgrey;
    }
    & > * {
        & + * {
            margin-left: 30px;
        }
    }
}

.basketitem__image {
    flex: 150px;
    padding-right: 50px;
    box-sizing: border-box;
    position: relative;
    img {
        width: 100%;
    }
}

.basketitem__info {
    align-items: center;
    flex: 50%;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.basketitem__remove {
    //flex: 20%;
}

.basketitem__title {
    flex: 20%;
}

.basketitem__quantity {
    
}

.basketitem__multiplier {
    color: $color-teal;
} 

.basketitem__price {

}

@media(max-width: $device-profile-medium) {
    .basketitem {
        flex-direction: row;
        flex-wrap: wrap;
        & > * {
            margin: 0;
            padding: 5px;
            box-sizing: border-box;
        }
    }
    .basketitem__image {
        flex: 1 0 100%;
        padding: 0;
    }
    .basketitem__title {
        flex: 1 1 50%;
    }
    .basketitem__quantity {
        flex: 1 1 50%;
        overflow: hidden;
    }
}


// transitions
.basketitem-exit {
    opacity: 1;
}
.basketitem-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}
