$color-lightGrey: #f2f2f2;
$color-darkGrey: #333;
$color-teal: #00b0ba;
$color-teal-dark: #008087;
$color-teal-light: #00e0ed;
$color-red: #ba0a00;
$color-green: #00ba0a;

$device-profile-small: 480px;
$device-profile-medium: 720px;
$device-profile-large: 1024px;

//#00ba96
//#00b0ba
//#0082ba

@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "app";
@import "header";
@import "minibasket";
@import "basket";
@import "basketitem";
@import "mobilemenu";
@import "product";
@import "productcard";
@import "cta";
@import "minibasketitem";
@import "warning";
@import "loader";
@import "overlay";
@import "button";
@import "burger";
@import "bubble";
@import "wiggle";
@import "field";


.content {
    box-sizing: border-box;
    width: 960px;
    padding: 0 20px;
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    display: inherit;
    flex: inherit;
    flex-wrap: inherit;
    align-items: inherit;
    justify-content: inherit;
    align-items: inherit;
}

.anchor {
    position: relative;
}

svg,
.logo {
    //line,
    //text,
    path {
        fill: inherit !important;
    }
}


.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;

}

.title {
    font-size: 1.5em;
    color: $color-teal;
}

.desc {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.price {
    font-family: 'Merriweather', serif;
}

.lazy {
    transition: opacity 500ms ease;
    opacity: 0;
}

.hidden {
    opacity: 0;
}

.shown {
    opacity: 1;
}


.center {
    text-align: center;
}

.combine {
    display: flex;
    flex-direction: row;
    & > * {
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            & ~ * {
                &:not(:last-child) {
                    border-radius: 0;
                }
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

.spinner {
    box-sizing: border-box;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border-top: 2px solid $color-teal;
    border-right: 2px solid transparent;
    animation: rotate .6s linear infinite;
}
@keyframes rotate {
    to {
        transform: rotate(360deg)
    }
}
